
.htext{
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    height: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ptext{
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    height: 70px;
    overflow: hidden;
    text-overflow: ellipsis;
}